*{
    padding: 0;
    margin: 0;
}
table{
    margin-top: 100px;
    border: 1px solid black;

}
td{
    border: 1px solid black;
}

::placeholder{
    text-align: center;
}
input{
    width: 100%;
    border: none;
}